*{
    margin: 0;
    padding: 0;
}





.main1{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.about{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color:green;
    margin-top: 10px;
}
.main11{
    border: 10px solid ;
    
}

.main2{
    padding: 5px;

}

.tt{
    font-weight: bold;
}

#fotter h1{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.img1{
    padding: 10px;
}
.page{
    text-align: center;
    text-decoration: none;
    
}

.page a{
    border: 2px solid orange;
    padding: 5px 20px;
    background-color: orange;
    color:black;
    text-decoration: none;
    font-size:1.2rem;
}


.row{
    padding: 30px;
}

.last{
    padding: 10px;
    background-color: lightblue;
    font-weight: bold;
}